{% extends 'base.html.twig' %}

{% block head %}
<link rel="stylesheet" href="{{ asset('/web/assets/css/datatables/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block body %}
<div class="container">

    <div id="page-title">
        <h1 class="pull-left">Listado de Productos</h1>
    </div>
    </br>
    <div>
        {{ include ("assets_views/indexbuttons.html.twig",{
            'new_link' : path('product_new'),
            'print_link' : path('product_new'),
            'export_link' : path('product_new'),
            }) 
        }}
    </div>

    <div>
        <table id="datos" class="table table-hover">
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Producto</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>MT</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td hidden><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.prodname }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.mt }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
</div>
{% endblock %}