{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    <h1>Nuevo Producto</h1>
    <div id="trabajador-subtitle" class="row">
        <div>
            <div class="trabajador-subtitle-data row">
                <a class="btn btn-info pull-right" href="{{ path('product_index',{'estado' : 'activo'}) }}"><span class="glyphicon glyphicon-arrow-left"></span> Volver a la lista</a>
                <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
            </div>
            <div>
                <h5 class="col-md-3"><p>Producto</p> {{ form_widget(form.prodname, {'attr': {'class': 'form-control'}}) }}</h5>
                <h5 class="col-md-3"><p>Marca</p> {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}</h5>
                <h5 class="col-md-3"><p>Modelo</p> {{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}</h5>
                <h5 class="col-md-3"><p>Descripción</p> {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}</h5>
                <h5 class="col-md-3"><p>MT</p> {{ form_widget(form.mt, {'attr': {'class': 'form-control'}}) }}</h5>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
