{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prodtypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prodtypename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prodType in prodTypes %}
            <tr>
                <td><a href="{{ path('prodtype_show', { 'id': prodType.id }) }}">{{ prodType.id }}</a></td>
                <td>{{ prodType.prodtypename }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prodtype_show', { 'id': prodType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('prodtype_edit', { 'id': prodType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prodtype_new') }}">Create a new prodType</a>
        </li>
    </ul>
{% endblock %}
