{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(edit_form) }}
    <h1>Editar préstamo</h1>
    <div id="trabajador-subtitle" class="row">
        <div class="trabajador-subtitle-data row">
            <a class="btn btn-info pull-right" href="{{ path('lendmt_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> Volver a la lista</a>
            <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
        </div>
        <div>
            <h5 class="col-lg-4"><p>Producto</p> {{ form_widget(edit_form.product, {'attr': {'class': 'form-control'}}) }}</h5>
            <h5 class="col-lg-4"><p>Recibido por</p> {{ form_widget(edit_form.received, {'attr': {'class': 'form-control'}}) }}</h5>
            <h5 class="col-lg-4"><p>Motivo</p> {{ form_widget(edit_form.reason, {'attr': {'class': 'form-control'}}) }}</h5>
            <h5 class="col-lg-4"><p>Estado</p> {{ form_widget(edit_form.status, {'attr': {'class': 'form-control'}}) }}</h5> 
            <h5 class="col-lg-4"><p>Entregado por</p> {{ form_widget(edit_form.technician, {'attr': {'class': 'form-control'}}) }}</h5> 
            <h5 class="col-lg-4"><p>Fecha</p> {{ form_widget(edit_form.lenddate, {'attr': {'class': 'form-control'}}) }}</h5>                              
        </div> 
    </div>
</div>
{{ form_end(edit_form) }}
{% endblock %}
