{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lendmt</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lendMT.id }}</td>
            </tr>
            <tr>
                <th>Lenddate</th>
                <td>{% if lendMT.lenddate %}{{ lendMT.lenddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Received</th>
                <td>{{ lendMT.received }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ lendMT.reason }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ lendMT.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lendmt_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lendmt_edit', { 'id': lendMT.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
