{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moveprod</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moveProd.id }}</td>
            </tr>
            <tr>
                <th>Tipo de Movimiento</th>
                <td>{{ moveProd.typemove }}</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>{{ moveProd.product.prodname }}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td>{{ moveProd.reason }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if moveProd.movedate %}{{ moveProd.movedate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ moveProd.amount }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ moveProd.description }}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td>{{ moveProd.destination.areaname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('moveprod_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('moveprod_edit', { 'id': moveProd.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
