{% extends 'base.html.twig' %}

{% block body %}
<h1>Loans list</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Loandate</th>
            <th>State</th>
            <th>Responsible</th>
            <th>Reason</th>
            <th>Returndate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
        <tr>
            <td><a href="{{ path('loan_show', { 'id': loan.id }) }}">{{ loan.id }}</a></td>
            <td>{% if loan.loandate %}{{ loan.loandate|date('Y-m-d') }}{% endif %}</td>
            <td>{{ loan.state }}</td>
            <td>{{ loan.responsible }}</td>
            <td>{{ loan.reason }}</td>
            <td>{% if loan.returndate %}{{ loan.returndate|date('Y-m-d') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('loan_show', { 'id': loan.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('loan_edit', { 'id': loan.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('loan_new') }}">Create a new loan</a>
    </li>
</ul>
{% endblock %}