{% extends 'base.html.twig' %}

{% block body %}
<h1>Loan</h1>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ loan.id }}</td>
        </tr>
        <tr>
            <th>Loandate</th>
            <td>{% if loan.loandate %}{{ loan.loandate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ loan.state }}</td>
        </tr>
        <tr>
            <th>Responsible</th>
            <td>{{ loan.responsible }}</td>
        </tr>
        <tr>
            <th>Reason</th>
            <td>{{ loan.reason }}</td>
        </tr>
        <tr>
            <th>Returndate</th>
            <td>{% if loan.returndate %}{{ loan.returndate|date('Y-m-d') }}{% endif %}</td>
        </tr>
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('loan_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('loan_edit', { 'id': loan.id }) }}">Edit</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
</ul>
{% endblock %}